* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #eaeaea; */
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
}
.container .slide{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 20% 25%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
     /* ... existing properties ... */
     /* background-position: center; */
     /* background-size: contain; */
     background-repeat: no-repeat;
     /* background-color: #000; */
     /* ... rest of the existing properties ... */
     overflow: hidden;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    /* background-size: contain; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-color: #000; */
}


.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content {
    position: absolute;
    top: 50%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 100px;
    width: 500px;
    height: 300px;
    text-align: center;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.img-song{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 1em auto;
}
.img-song img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.slide .item:nth-child(2) .content {
    display: block;
    z-index: 10;
}


.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    z-index: 10;
}

.content .des {
    margin-top: 10px;
    font-family: "Mr De Haviland", cursive;
    font-size: 2em;
    z-index: 10;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 1);
    cursor: pointer;
    margin: 0 5px;
    background-color: transparent;
    transition: 0.3s;
    color: #fff;
}
.button i{
    color: #ffffff88;
    z-index: 1;
}
.item{
    cursor: pointer;
}
.landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.landing.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.landing .content {
    text-align: center;
    color: white;
}
.landing .content h1{
    font-size: 1.2rem;
}

.start-btn {
    padding: 12px 30px;
    font-size: 1.2rem;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.start-btn:hover {
    background: #f0f0f0;
    transform: scale(1.05);
}
/* Responsive Media Queries */

/* For tablets and smaller devices */
/* @media (max-width: 992px) {
    .slide .item {
        width: 180px;
        height: 270px;
    }
    
    .slide .item:nth-child(3) {
        left: 40%;
    }
    
    .slide .item:nth-child(4) {
        left: calc(40% + 190px);
    }
    
    .slide .item:nth-child(5) {
        left: calc(40% + 380px);
    }
    
    .slide .item:nth-child(n + 6) {
        left: calc(40% + 570px);
    }
    
    .item .content {
        width: 350px;
        left: 30px;
    }
} */

/* For mobile devices */
/* @media (max-width: 768px) {
    .slide .item {
        width: 150px;
        height: 225px;
    }
    
    .slide .item:nth-child(3) {
        left: 30%;
    }
    
    .slide .item:nth-child(4) {
        left: calc(30% + 160px);
    }
    
    .slide .item:nth-child(5) {
        left: calc(30% + 320px);
    }
    
    .slide .item:nth-child(n + 6) {
        left: calc(30% + 480px);
    }
    
    .item .content {
        width: 80%;
        max-width: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        padding: 15px;
    }
    
    .content .name {
        font-size: 24px;
    }
    
    .img-song {
        width: 100px;
        height: 100px;
    }
} */

/* For very small devices */
@media (max-width: 768px) {
    .slide .item {
        width: 100%;
        height: auto;
        min-height: 200px;
       
    }
    
    
    
    .slide .item .content {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 100%;
        left: 0;
        top: 0;
        transform: none;
        padding: 20px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0;
    }
    
    .img-song {
        width: 120px;
        height: 120px;
        margin: 0 auto 15px;
    }
    
    .content .name {
        font-size: 24px;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }
    
    .content .des {
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    }
    
    .button {
        position: fixed;
        bottom: 10px;
        width: 100%;
        z-index: 100;
    }
    
    .button button {
        width: 40px;
        height: 40px;
        /* background: rgba(255, 255, 255, 0.8); */
    }
    
    /* Adjust the position of items in the slider */
    .slide .item:nth-child(3),
    .slide .item:nth-child(4),
    .slide .item:nth-child(5),
    .slide .item:nth-child(n + 6) {
      right: -50%;
      transform: translateX(-50%);
        position: relative;
        /* margin: 10px 0; */
    }
}